body
{
    display: flex;
    justify-content: center;
}

.container
{
    margin-top: 40px;
    width: 400px;
    height: fit-width;
    background-color: #555;
    border-radius: 10px;
}

.screen
{
    background-color: #3f3838;
    border: none;
    padding: 10px;
    width: 95%;
    color: #fff;
    font-size: 60px;
    margin-top: 20px;
    border-radius:20px;
}

.buttons
{
    display: flex;
    flex-wrap: wrap;
}

button
{
    flex: 20%;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background-color: #3f3838;
    color: #fff;
    opacity: .8;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1); 
}

.btn
{
    background-color :rgb(255, 217, 0);
    font-size: 40px;
}
